html{
	font-family:'helvetica neue', arial,'hiragino sans gb', stheiti,'microsoft yahei', 'wenquanyi micro hei',sans-serif;
	font-size: 16px;
	overflow-x:hidden;
}
@media (max-width: 830px){
	html{
		font-size:14px;
	}
}
body.cv{
	position: relative;
	width: 100%;
	height: 100%;
	color: #fff;
}
.cv header{
	width: 100%;
	margin: 40px auto;
	text-align: center;
}
.cv section{
	margin:0 10%;
}
.cv p{
	margin:.8rem 0;
}
.cv h3{
	text-align: center;
}
.cv a{
	color: #fff;
	text-decoration: none;
	border-bottom:2px solid #fff;
	transition:all 0.1s linear;
	-o-transition:all 0.1s linear;
	-moz-transition:all 0.1s linear;
	-webkit-transition:all 0.1s linear;
}
.cv a:hover,a:active{
	color:#ff9900;
	text-shadow:2px 2px 1px #ccc;
	border-bottom-color: #ff9900;
}
.cv li{
	list-style: none;
}
.cv #bg{
	position: fixed;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	background-color: rgb(141,226,85);
	z-index: -101;
}
.cv h1.title{
	font-size: 3rem;
	text-shadow:2px 2px 1px #bbb;
}
#myBasicMeg{
	margin: 0 auto;
}
#myBasicMeg .photo{
	float: left;
	margin-left: 15%;
	margin-top: 2rem;
}
.cv #introduce{
	float: left;
	margin-left: 10%;
	font-size: 1.4rem;
}

.cv img{
	border:5px solid #eee;
}
.photo{
	width: 200px;
	height: 200px;
	border-radius: 50%;
	-o-border-radius: 50%;
	-moz-border-radius: 50%;
	-webkit-border-radius: 50%;
}
.sectionTitle{
	margin-top:2rem;
}
.project{
	float: left;
	width: 100%;
}
.project p{
	line-height: 1.5rem;
	text-indent: 2rem;
}
.project img{
	margin:0.1%;
	box-sizing:border-box;
	border-radius: 8px;
	-o-border-radius: 8px;
	-moz-border-radius: 8px;
	-webkit-border-radius: 8px;
}
.project h3{
	font-size: 1.6rem;
}
.subtitle{
	font-size: 1.4rem;
	font-weight: bold;
	text-align: center;
}
.subProject{
	width:50%;
	margin-top:2rem;
}
@media (max-width: 900px){
	.subProject{
		width:100%;
	}
}

.alignCenter{
	text-align: center;
}
.cv section ul{
	width: 100%;
	text-indent: 2rem;
	font-size: 1.4rem;
}
.cv section li{
	margin-top:1rem;
	text-shadow:1.4px 1.4px 1px #aaa;
}
.skillFirst{
	font-weight: 900;
	color: #f60;
}
.skillSecond{
	font-weight: 700;
	color: #f96;
}
.skillThird{
	font-weight: 500;
	color:#fc9;
}
.skillForth{
	font-weight: 300;
	color:#ffc;
}
.skillFifth{
	font-weight: 100;
	color:#fff;
}
.skillRefer{
	float: right;
	margin:0;
	padding-left: 2rem;
}
@media (max-width: 830px){
	.skillRefer{
		float: none;
	}
	.skillRefer li{
		display: inline-block;
		padding-right: 2rem;
	}
}
#desc p{
	line-height: 1.5rem;
	text-indent: 2rem;

}

.clearfix:before,.clearfix:after {
    content: " "; 
    display: table; 
}
.clearfix {
    *zoom: 1;
}
.clearfix:after {
    clear: both;
}