*{
	margin: 0;
	padding: 0;
}
html{
	height: 100%;
	font-family:'helvetica neue', arial,'hiragino sans gb', stheiti,'microsoft yahei', 'wenquanyi micro hei',sans-serif;
	color:#3c3c3c;
	font-size: 16px;
}
.fork{
	position: absolute;
	top: 0;
	right: 0;
}
.fork img{
	border:0;
}
article,aside,dialog,footer,header,section,footer,nav,figure,menu{
	display:block
}
.ns header{
	width:100%;background-color:#6cc

}
.ns header h1{
	position:absolute;
	top:20%;
	left:32%;
	font-size:74px;
	font-weight:bold;
}
.ns header h3{
	position:absolute;
	top:45%;
	left:44%;
	font-size:24px
}
.ns nav{
	height:80px;
	margin-left:100px;
	width:540px
}
.home h1{
	margin:20px 0;
}
article{
	min-height:400px;
	width:80%;
	min-width:540px;
	border:1px solid #6cc;
	margin:10px 0 100px 110px;
	padding:20px;
	border-radius:5px;
	-o-border-radius:5px;
	-moz-border-radius:5px;
	-webkit-border-radius:5px
}
article p{
	text-indent:2em;
	font-size:18px;
	line-height:1.6em;
	color:#333
}
li{
	list-style:none
}
.code{
	background-color:#0f192a;
	color:#fff;
	margin:0 30px;
	padding:8px 0 4px 0;
	font-size:.8125em;font-family:Consolas,Inconsolata,"Bitstream Vera Sans Mono",Menlo,Monaco,"Andale Mono","Courier New",monospace
}
#page{
	position: absolute;
	width: 100%;
	height: 100%; 
	background-color:rgb(0,0,0)
}
.shenmegui #page{
	background-color: #669933;
}
.homeIntroduce{
	position: absolute;
	width: 100%;
}
.homeIntroduce:nth-child(1){
	height: 34%; 
	background-color:rgb(0,0,0)
}
.homeIntroduce:nth-child(2){
	height: 33%; 
	top: 34%;
	background-color:#6cc;
}
.homeIntroduce:nth-child(3){
	height: 33%; 
	top: 67%;
	background-color: #669933;
}
.ns #introduce,.colorful #introduce,.shenmegui #introduce{
	position: absolute;
	width: 100%;
	height: 100%; 
	top:100%;
}
.ns #title,.colorful #title{
	text-align: center;
	color: #fff;
	font-size: 80px;
	line-height: 5;
}
.home #title{
	text-align: center;
	color: #fff;
	font-size: 3rem;
	line-height: 2;
}
.shenmegui #page div{
	margin-top: 10rem;
	color: #fff;
}
#falseTitle{
	text-align: center;
	font-size: 2rem;
	text-decoration:line-through;
}
.shenmegui #title{
	text-align: center;
	font-size: 5.5rem;
}
#pageInHome #title,#sliderInHome #title{
	line-height: 2;
}
#isColor{
	font-size: 22px;
}
.param{
	font-style:italic
}
#horizentalNav{
	position:relative
}
#verticalNav{
	position:relative;margin-left:600px
}
#horizentalNav li{
	width:100px;height:50px;border:1px solid #ccc;margin:10px;padding:5px;text-align:center;float:left;line-height:50px;cursor:pointer;border-radius:5px;-o-border-radius:5px;-moz-border-radius:5px;-webkit-border-radius:5px
}
#verticalNav li{
	width:100px;height:50px;border:1px solid #ccc;margin:10px;padding:5px;text-align:center;line-height:50px;cursor:pointer
}
.navSlider{
	background-color:yellow
}
.showExample{
	display: block;
	width: 140px;
	height: 50px;
	text-decoration: none;
	border: 2px solid #fff;
	color:#fff;
	border-radius: 4px;
	-o-border-radius: 4px;
	-moz-border-radius: 4px;
	-webkit-border-radius: 4px;
	text-align: center;
	font-size: 18px;
	line-height: 2.5;
	transition:all 0.1s linear;
	-o-transition:all 0.1s linear;
	-moz-transition:all 0.1s linear;
	-webkit-transition:all 0.1s linear;
	margin:0 auto;
}
.showExample:hover,.showExample:active{
	color:#f90;
	border-color: #f90;
}